<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Shopgo_ZainIraq>
            <version>1.0.0</version>
        </Shopgo_ZainIraq>
    </modules>

    <global>
        <blocks>
            <zainiraq>
                <class>Shopgo_ZainIraq_Block</class>
            </zainiraq>
        </blocks>
        <helpers>
            <zainiraq>
                <class>Shopgo_ZainIraq_Helper</class>
            </zainiraq>
        </helpers>
        <models>
            <zainiraq>
                <class>Shopgo_ZainIraq_Model</class>
            </zainiraq>
        </models>
    </global>

    <default>
        <payment>
            <zainiraq>
                <model>zainiraq/standard</model>
                <active>0</active>
                <order_status>pending</order_status>
                <title>Zain Iraq Payment</title>
                <mssidn></mssidn>
                <secret_key></secret_key>
                <mercahnt_number></mercahnt_number>
                <account_mode>0</account_mode>
            </zainiraq>
        </payment>
    </default>

    <frontend>
        <routers>
            <zainiraq>
                <use>standard</use>
                <args>
                    <module>Shopgo_ZainIraq</module>
                    <frontName>zainiraq</frontName>
                </args>
            </zainiraq>
        </routers>
    </frontend>
</config>
